*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Lato, sans-serif;
  font-weight: 400;
}

img {
  width: 100vw;
  /* height: 100%; */
}
a {
  color: black;
  font-weight: 900;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 500px;
  padding: 20px 0;
  text-transform: uppercase;
}
.active-link {
  border-bottom: 2px solid lightcoral;
}
